@font-face {
    font-family: "Cera Pro-Regular";
    font-weight: 400;
    src: local("Cera Pro-Regular"),
      url("../fonts/CeraPro-Regular.woff2") format("woff2"),
      url("../fonts/CeraPro-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Cera Pro-Thin";
    font-weight: 300;
    src: local("Cera Pro-Thin"),
      url("../fonts/CeraPro-Thin.woff2") format("woff2");
  }

  @font-face {
    font-family: "Cera Pro-Medium";
    font-weight: 500;
    src: local("Cera Pro-Medium"),
      url("../fonts/CeraPro-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "Cera Pro-Bold";
    font-weight: 700;
    src: local("Cera Pro-Bold"),
      url("../fonts/CeraPro-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Cera Pro-Black";
    font-weight: 900;
    src: local("Cera Pro-Black"),
      url("../fonts/CeraPro-Black.woff2") format("woff2");
  }