.wrapper {
    max-width: 500px;
    margin: auto;
}

.text {
    max-width: 300px;
    margin: auto;
}

a {
    color: #46A358;
    text-decoration: none;
}

input {
    display: block;
    margin-bottom: 16px;
    width: 300px;
    max-height: 40px;
    padding: 12px 14px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
}

input::placeholder {
    color: #A5A5A5;
}

.line {
    padding: 5px 0px;
}

.form {
    width: 300px;
    color: white;
    background-color: #46A358;
    height: 45px;
    border-radius: 5px;
    margin: 20px 0px;
    border: 0px;
}

.social {
    height: 40px;
    width: 300px;
    margin: 10px 0px;
    text-align: center;
    border: 1px solid #EAEAEA;
    background-color: white;
    color: #727272;
}

.logo {
    margin: 0px 5px;
}

hr {
    height: 10px;
    background-color: #46A358;
}

p {
    color: #3D3D3D;
}