.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "CeraPro-Regular", sans-serif;
}

a {
    color: white;
    text-decoration: none;
  }

/* nav */

header nav {
    border-bottom: 0.3px solid #46A35880;
    margin-top: 30px;
    text-align: center;
}

.nav {
    display: inline-block;
}

.logo {
    margin-top: 1px;
}
header nav ul li {
    margin-right: 0px;
    display: inline-block;
    vertical-align: top;
}

header nav ul li a {
    color: #3D3D3D;
}

header nav ul li:not(:last-child) {
    margin-right: 50px;
}

header nav ul li a:hover {
    border-bottom: 3px solid #46A358;
    padding-bottom: 25px;
}

header nav ul li {
    margin-top: 8px;
    margin-bottom: 25px;
}

header nav .button {
    margin-bottom: 18px;
    padding-top: 8px;
    padding-bottom: 7px;
    width: 100px;
    border-radius: 6px;
    color: white;
    background: #46A358;
}

header nav .left {
    float: left
}

header nav .right {
    float: right
}

.login-img {
    vertical-align: bottom;
}

.login-text {
    margin-left: 4px;
    vertical-align: text-top;
}

/* main */

.hero {
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);

}
.uppercase {
    text-transform: uppercase;
}

.hero-block {
    display: inline-block;
    vertical-align: top;
}

.hero h1 {
    font-family: "CeraPro-Black", sans-serif;
    width: 530px;
    margin-top: 7px;
    font-size: 70px;
    /* font-weight: 900; */
    line-height: 70px;
    text-align: left;
    color:#3D3D3D;
}

.hero h1 span {
    color: #46A358;
}

.hero h2 {
    font-family: "CeraPro-Medium", sans-serif;
    width: 206px;
    margin-top: 68px;
    font-size: 14px;
    /* font-weight: 500; */
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #3D3D3D;
}

.hero p {
    font-family: "CeraPro-Regular", sans-serif;
    width: 557px;
    margin-top: 5px;
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 24px;
    text-align: left;
    color: #727272;
}

.hero .button {
    font-family: "CeraPro-Bold", sans-serif;
    display: block;
    margin-top: 44px;
    width: 140px;
    font-size: 16px;
    /* font-weight: 700; */
    line-height: 20px;
    background: #46A358;
    border-radius: 6px;
    padding-top: 11px;
    padding-bottom: 9px;
    text-align: center;
}

.hero .left {
    margin-left: 40px;
}

.hero .right {
    margin-top: 12px;
    float: right
}

/* clear */

.clear {
    clear: both;
}

/* content */

.content {
    margin-top: 171px;
}

.content-block {
    display: inline-block;
}

nav.content-block {
    width: 305px;
    /* ширина блока повинна бути 310, але в мене при такій ширині бллок з контентом зʼїждажє. Не можу зрозуміти де беруться додаткові відступи. В інстпекторі їх теж не бачу. Підкажіть куди дивитись. */
    margin-right: 50px;
}

.banner {
    width: 306px;
    height: 467px;
}

.categories {
    height: 774px;
    background: #FBFBFB;
    padding-left: 18px;
    padding-top: 14px;
}
section nav h3 {
    font-family: "CeraPro-Bold", sans-serif;
    color: #3D3D3D;
    font-size: 18px;
    /* font-weight: 700; */
    line-height: 16px;
    text-align: left;
    margin-bottom: 7px;
}

.ul-nav{
margin-left: 12px;
}

.ul-nav a {
    font-family: "CeraPro-Regular", sans-serif;
    color: #3D3D3D;
    font-size: 15px;
    /* font-weight: 400; */
    line-height: 40px;
    text-align: left;
}

.ul-nav a:hover {
    color: #46A358;
}

.bottom {
    margin-bottom: 31px;
}

.arrow-down {
    width: 16px;
    height: 16px;
    padding-top: 2px;
}

.products {
    width: 840px;
}

.products ul li {
    display: inline-block;
    margin-right: 37px;
    box-sizing: content-box;
}

.products ul li:last-child {
    margin-right: 0px;
}

.bottom-inline li :hover{
    color: #46A358;
    border-bottom: 2px solid #46A358;
}

.bottom-inline {
    display: inline-block;
}

.products li a {
    color: #3D3D3D;
}

.content-right {
    float: right
}

.product-block {
    display: inline-block;
    width: 255px;
    margin-right: 33px;
    /* поставила ширину блоків 255, в макеті ширина 258 + відступи між ними 33 - в результаті загальна ширина 840
    я поставила ширину блоків 258, відступи 33, загальна ширина блоку - 840 і в мене третій блок зʼїхав на новий рядок. Не можу зрозуміти звідки взялись додаткові відступи
     */
}

.line-1, .line-2 {
    margin-bottom: 70px;
}

.line-3 {
    margin-bottom: 90px;
}
.product-block:nth-child(3n+3) {
    margin-right: 0px;
}

.title{
    font-family: "CeraPro-Regular", sans-serif;
    font-size: 16px;
    /* font-weight: 400; */
    line-height: 16px;
    text-align: left;
    color: #3D3D3D;
    margin-top: 12px;
}

.price {
    font-family: "CeraPro-Bold", sans-serif;
    font-size: 18px;
    /* font-weight: 700; */
    line-height: 16px;
    text-align: left;
    color: #46A358;
    margin-top: 6px;
}

.image-product {
    width: 250px;
    height: 250px;
}

.product-img {
    width: 258px;
    height: 300px;
    background: #FBFBFB;
    padding-top: 25px;
    padding-left: 4px;
    position:relative;
    border-top: 1px solid transparent;
    transition: 0.5s;
}

.icons-block {
    position: absolute;
    display: flex;
    opacity: 0;
    transition: 0.5s;
    left: 63px;
    bottom: 7px;
    gap: 10px;
}

.product-img:hover {
    border-top: 1px solid #46A358;
    .icons-block {
        opacity: 100;
    }
}

.icon {
    padding: 6px;
    background-color:#FFFFFF;
    }
.pages {
    float:right;
    margin-bottom: 82px;
}

.discount {
    font-family: CeraPro-Medium;
    font-size: 16px;
/* font-weight: 500; */
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
    background-color:#46A358;
    padding: 7px 9px;
    position: absolute;
    top: 14px;
}

.discount-price {
    color: #A5A5A5;
    text-decoration: line-through;
    font-family: "CeraPro-Regular", sans-serif;
}
.nr{
    font-family: "CeraPro-Thin", sans-serif;
    display: inline-block;
    color: #3D3D3D;
    font-size: 18px;
    /* font-weight: 300; */
    line-height: 16px;
    text-align: left;
    padding-top: 9px;
    padding-left: 13px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

.nr:hover {
    font-family: "CeraPro-Bold", sans-serif;
    color: #FFF;
    font-size: 18px;
    /* font-weight: 700; */
    line-height: 16px;
    text-align: left;
    background: #46A358;
    border: 0px;
}
.nr:last-child {
    padding-left: 0px;
}
.arrow-right {
    width: 18px;
    height: 18px;
    margin-left: 9px;
}

/* block 3 */

.flex-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.flex-1-item {
    display: flex;
    flex-wrap: nowrap;
    width: 586px;
    padding-right: 30px;
    justify-content: space-between;
}

.flex-text {
   display: flex;
   flex-direction: column;
   align-items: end;
}

.flex-1-h {
    font-family: CeraPro-Black;
    font-size: 18px;
    /* font-weight: 900; */
    line-height: 24px;
    text-align: right;
    color: #3D3D3D;
    margin-top: 37px;
    width: 150px;
    text-transform: uppercase;
}

.flex-p {
    font-family: CeraPro-Regular;
    font-size: 14px;
/* font-weight: 400; */
    line-height: 24px;
    text-align: right;
    color: #727272;
    margin-top: 9px;
    width: 292px;
}

.flex-button {
    width: 140px;
    margin-top: 25px;
    text-align: right;
    font-family: CeraPro-Medium;
    font-size: 14px;
    /* font-weight: 500; */
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    background-color: #46A358;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 28px;
}

.flex-h2 {
    font-family: CeraPro-Bold;
    font-size: 30px;
    /* font-weight: 700; */
    line-height: 16px;
    text-align: center;
    color: #3D3D3D;
    margin-top: 138px;  
}

.flex-p-under-h {
    font-family: CeraPro-Regular;
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 24px;
    text-align: center;
    color: #727272;
    margin-top: 15px;
}

.flex-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 42px;
    margin-top: 35px;
    margin-bottom: 68px;
}

.flex-2-text {
    padding: 9px 11px 12px 15px;
    background: #FBFBFB;
    width: 268px;
}

.green {
    font-family: CeraPro-Medium;
    font-size: 14px;
    /* font-weight: 500; */
    line-height: 16px;
    text-align: left;
    color: #46A358;
}

.flex-2-h {
    font-family: CeraPro-Bold;
    font-size: 20px;
    /* font-weight: 700; */
    line-height: 26px;
    text-align: left;
    color: #3D3D3D; 
    margin-top: 4px;
    width: 189px;
}

.flex-2-p {
    font-family: CeraPro-Regular;
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 22px;
    text-align: left;
    color: #727272;
    margin-top: 4px;
}

.more {
    font-family: CeraPro-Medium;
    font-size: 14px;
    /* font-weight: 500; */
    line-height: 16px;
    text-align: left;
    color: #3D3D3D;
    margin-top: 9px;
}

.more:hover {
    color: #46A358;

}